{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="subscription" style="padding-top: 200px;">
        <div class="container">
            <div>
                <h1>Resultado pesquisa</h1>
                <p class="lead">Intensidade do treino </p>
                 <p> 0 = Muito leve / 10 = Extremamente intenso </p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4">
                    <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1k3aB8_YFopmeYdYLyWZiJG9mjQDqXaN805LKfiioBAs/pubchart?oid=1926441167&amp;format=interactive"></iframe>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1k3aB8_YFopmeYdYLyWZiJG9mjQDqXaN805LKfiioBAs/pubchart?oid=787735295&amp;format=interactive"></iframe>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1k3aB8_YFopmeYdYLyWZiJG9mjQDqXaN805LKfiioBAs/pubchart?oid=1302667785&amp;format=interactive"></iframe>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1k3aB8_YFopmeYdYLyWZiJG9mjQDqXaN805LKfiioBAs/pubchart?oid=2093089699&amp;format=interactive"></iframe>
                </div><!--/.col-xs-6.col-lg-4-->
            </div>
            <div>
                <h1>Ranking Top 20</h1>
                <p class="lead">Fevereiro</p>
            </div>
            <div class="row">
                <table class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th class="text-center">Posição</th>
                  <th class="text-center">Atleta</th>
                  <th class="text-center">Treinos</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>Ana Catarina</td>
                  <td>22</td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Paula Ferreira</td>
                  <td>22</td>
                </tr>
                <tr  class="text-center">
                  <td>1</td>
                  <td>Sara Furtado</td>
                  <td>22</td>
                </tr>
                <tr  class="text-center">
                  <td>4</td>
                  <td>Filipa Troncão</td>
                  <td>21</td>
                </tr>
                <tr  class="text-center">
                  <td>5</td>
                  <td>Joaquim Palmeiro</td>
                  <td>20</td>
                </tr>
                <tr  class="text-center">
                  <td>5</td>
                  <td>Luís Ildefonso</td>
                  <td>20</td>
                </tr>
                <tr  class="text-center">
                  <td>5</td>
                  <td>Miguel Pereira</td>
                  <td>20</td>
                </tr>
                <tr  class="text-center">
                  <td>5</td>
                  <td>Miguel Valente</td>
                  <td>20</td>
                </tr>
                <tr  class="text-center">
                  <td>9</td>
                  <td>Armando Palma</td>
                  <td>19</td>
                </tr>
                <tr  class="text-center">
                  <td>9</td>
                  <td>Vanessa Amaro</td>
                  <td>19</td>
                </tr>
                <tr  class="text-center">
                  <td>11</td>
                  <td>Ruben Bento</td>
                  <td>18</td>
                </tr>
                <tr  class="text-center">
                  <td>12</td>
                  <td>Ana Mira</td>
                  <td>17</td>
                </tr>
                <tr  class="text-center">
                  <td>12</td>
                  <td>José Brito</td>
                  <td>17</td>
                </tr>
                <tr  class="text-center">
                  <td>14</td>
                  <td>Célia Grazina</td>
                  <td>16</td>
                </tr>
                <tr  class="text-center">
                  <td>14</td>
                  <td>Inês Pereira</td>
                  <td>16</td>
                </tr>
                <tr  class="text-center">
                  <td>14</td>
                  <td>José Correga</td>
                  <td>16</td>
                </tr>
                <tr  class="text-center">
                  <td>14</td>
                  <td>Pedro Bigodinho</td>
                  <td>16</td>
                </tr>
                <tr  class="text-center">
                  <td>18</td>
                  <td>Adriano Leal</td>
                  <td>15</td>
                </tr>
                <tr  class="text-center">
                  <td>18</td>
                  <td>Carmen Godinho</td>
                  <td>15</td>
                </tr>
                <tr  class="text-center">
                  <td>18</td>
                  <td>Filipa Mestre</td>
                  <td>15</td>
                </tr>
                <tr  class="text-center">
                  <td>18</td>
                  <td>Luísa Alvarenga</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>
{% endblock content %}