{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">

{#{% block nav %}#}
{#    <div class="header-frame row">#}
{#        {% include 'nav.html' only %}#}
{#    </div>#}
{#{% endblock nav %}#}
{% block content %}
    <section id="subscription" style="padding-top: 200px;">
        <body id="page-top" class="index  panel box-v1">
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <img class="img-responsive" src="{% static 'img/banner.jpg' %}" alt="">

                        {#                        <div class="intro-text">#}
                        {#                            <span class="name">Functional Training</span>#}
                        {#                            <hr class="star-primary">#}
                        {#                            <span class="skills">Ginásio de treino funcional</span>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </header>
        <!-- Subscribe Section -->
        <section class="subsctiption " id="about" style="padding-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {#                    <div>#}
                        <h2>Marcação de presença</h2>
                        {#                        <hr class="star-primary">#}
                        {#                        <div class="intro-text">#}
                        {#                            <span class="skills">Lista de assiduidade</span>#}
                        {#                        </div>#}
                        <a href="{% url 'assiduousness:new' %}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <button type="submit" class="btn btn-primary">Presença</button>
                                    {#                                    <i class="fa fa-search-plus fa-3x"></i>#}
                                </div>
                            </div>
                            {#                                            <img src="{% static 'img/portfolio/eventex.png' %}" class="img-responsive" alt="">#}
                        </a>
                    </div>
                </div>

            </div>
            </div>
        </section>

        <!-- Subscript Grid Section -->
        <section class="success" id="subscription">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Inscrições</h2>
                        {#                        <hr class="star-primary">#}
                        {#                        <div class="intro-text">#}
                        {#                            <span class="skills">Insrcição de um novo Atleta</span>#}
                        {#                        </div>#}
                        {#                      <a href="{% url 'subscription:new' %}" class="portfolio-link" data-toggle="modal">#}
                        <a href="{% url 'subscriptions:form' %}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <button type="submit" class="btn btn-primary">Novo atleta</button>
                                    {#                                    <i class="fa fa-search-plus fa-3x"></i>#}
                                </div>
                            </div>
                            {#                                            <img src="{% static 'img/portfolio/eventex.png' %}" class="img-responsive" alt="">#}
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <!-- Footer -->
        <section id="subscription" style="padding-top: 150px;">
            <footer class="text-center">
                <div class="footer-above">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col col-md-4">
                                <h3>Localização</h3>

                                <p>Av. Fialho de Almeida, 7800-395<br>
                                    2º andar, Edifício Hotel Melius<br>Beja Portugal</p>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Redes sociais</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.facebook.com/Kett-Clube-409334749265572/?fref=ts&__mref=message_bubble"
                                           class="btn-social btn-outline"><i
                                                class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i
                                                class="fa fa-fw fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i
                                                class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Contatos</h3>

                                <p>Email: kettclub@gmail.com</p>

                                {#                        <p>Telefone:</p>#}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-below">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                Copyright &copy; Adriano Regis 2016
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            {#    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->#}
            {#    <div class="scroll-top page-scroll visible-xs visible-sm">#}
            {#        <a class="btn btn-primary" href="#page-top">#}
            {#            <i class="fa fa-chevron-up"></i>#}
            {#        </a>#}
            {#    </div>#}

            <!-- Portfolio Modals -->
            <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 "><!--col-lg-offset-2-->
                                <div class="modal-body">
                                    {#                            <h2>Inscrição do Atleta</h2>#}
                                    {#                            <hr class="star-primary">#}
                                    {#                            <div class="responsive-iframe-container">#}
                                    <iframe src="https://docs.google.com/forms/d/17KZqNVqaw67HwxceXG0an2oAWS7n1lsjIIU1RkJuijQ/viewform?embedded=true"
                                            width="100%" height="1532" frameborder="0" marginheight="0" marginwidth="0">
                                        A
                                        carregar...
                                    </iframe>
                                </div>
                                <button type="button" class="btn btn-success" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Presença Modals -->
            <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 "><!--col-lg-offset-2-->
                                <div class="modal-body">
                                    {#                            <h2>Inscrição do Atleta</h2>#}
                                    {#                            <hr class="star-primary">#}
                                    {#                            <div class="responsive-iframe-container">#}
                                    <iframe src="https://docs.google.com/forms/d/1V4BGfyPyiMY6wWmR9Ww95VDisbX4P72cncypx_HtkPo/viewform?embedded=true"
                                            width="100%" height="1086" frameborder="0" marginheight="0" marginwidth="0">
                                        A
                                        carregar...
                                    </iframe>
                                </div>

                            </div>
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                <i class="fa fa-times"></i> Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </body>
    </section>
{% endblock content %}
</html>
