dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9
django-extensions==1.6.1
django-test-without-migrations==0.4
gunicorn==19.4.1
psycopg2==2.6.1
python-decouple==3.0
pytz==2015.7
six==1.10.0
static3==0.6.1
