{% load i18n %}
<div class="col-md-12 modal-example">
    <div class="col-md-12">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Desativar Utilizadores</h4>
                    </div>
                    {% if var ==  0 %}
                        <div class="modal-body">

                        <br/>
                        {% trans 'Deseja mesmo desativar o(s) utilizador(es):' %}<br/>
                        <ul>
                            {% for u in lUsers_id %}
                                <li>{{ u }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="modal-body">
                            {{ message }}
                        </div>
                    {% endif %}
                    </div>
                    {% if var ==  0 %}
                        <div class="modal-footer">
                            <h5>{{ PERGUNTA }}</h5>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar
                            </button>
                            <a href="{% url 'config:desativarUsers' strUrl %}" type="button" name="Save"
                               class="btn btn-primary">{% trans 'Sim' %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>