<form method="get" action="{% url 'config:listUsers' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="col-md-8">
        <div class="panel form-element-padding">
{#            <div class="panel-heading">#}
{#                <h4>Sucesso!</h4>#}
{#            </div>#}
            <div class="panel-body" style="padding-bottom:30px;">
                <div class="form-group">
                    <div class="col-sm-5">

                        <input type="submit" id="save" class="btn btn-primary" name="Save" value="Ok"
                               style="float:left;"/>
                    </div>
                </div>
                    {% if messages %}
                        <div class="span12">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    <h3>{{ message|safe }}</h3>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
</form>
