{% extends "base.html" %}
{% load static %}


{% block nav %}
    <div class="header-frame row">
        {% include 'nav.html' only %}
    </div>
{% endblock nav %}

{% block content %}
    <section id="subscription" style="padding-top: 200px;">
        <div class="container">
            <!--login modal-->
            {#            <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">#}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="modal-body">
                        {% if form.errors %}
                            <div class="text-danger">Username ou Password incorretos.</div>
                        {% endif %}

                            {#                            <form class="form col-md-12 center-block">#}

                        <form method="POST" action="/login/" class="form col-md-12 center-block">
                            {% csrf_token %}
                            <div class="form-group row {% if form.username.errors %}has-error{% endif %}">
                                <label for="{{ form.username.label }}">{{ form.username.label }}</label>
                                {% if form.username.errors %}
                                    <span class="help-block">
                                    {% for error in form.username.errors %}{{ error }}{% endfor %}
                                  </span>
                                {% endif %}
                                {{ form.username }}
                                {#                                    <input type="text" class="form-control input-lg" placeholder="Email">#}
                            </div>
                            <div class="form-group row {% if form.password.errors %}has-error{% endif %}">
                                <label for="{{ form.password.label }}">{{ form.password.label }}</label>
                                {% if form.password.errors %}
                                    <span class="help-block">
                                    {% for error in form.username.errors %}{{ error }}{% endfor %}
                                  </span>
                                {% endif %}
                                {{ form.password }}
                                {#                                    <input type="password" class="form-control input-lg" placeholder="Password">#}
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Entrar</button>
{#                                <input type="hidden" name="next" value="/dashboard/{{ user.pk }}" />#}
                                <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need
                                help?</a></span>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-12">
                                    <button type="reset" class="btn btn-success" data-dismiss="modal"
                                            aria-hidden="true">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        {#        </div>#}
    </section>
{% endblock content %}