{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-title">
            <span><b>{% trans "Apagar Atleta(s)" %}</b></span>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </span>
        </div>
        <div class="modal-body">
            {% if atletas %}
                <p>{% trans "Deseja mesmo apagar o(s) atleta(s):" %}</p>
                <ul>
                    {% for atleta in atletas %}
                        <li class="values_delete" value="{{ atleta.pk }}">{{ atleta.nome }} {{ atleta.sobrenome }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "Não selecionou nenhuma atleta!" %}</p>
                <div class="modal-footer">
                    <input id="" data-dismiss="modal" type="button" class="btn btn-primary" value="{% trans 'Voltar' %}"
                           style="float:left;">
                </div>
            {% endif %}
        </div>
        {% if atletas %}
            <div class="modal-footer">
                <input id="btn_apagarSim" data-dismiss="modal" type="button" class="btn btn-primary"
                       value="{% trans 'Sim' %}" style="float:left;">
                <div class="cancel"><span class="text_small">ou</span>
                    <a href="#" data-dismiss="modal" class="btn_cancelar">{% trans "Não" %}</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("REMOVE!");
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('#btn_apagarSim').on("click", function () {

            var ids = new Array();
            console.log(ids)
            $('.values_delete').each(function () {
                ids.push($(this).val());
            });

            var target = "{%url 'subscriptions:delconfirme'%}"
            var csrftoken = getCookie('csrftoken');

            $('#apagarModal_atleta').modal('hide');

            $.ajax({
                type: "POST",
                url: target,
                data: {valores_list: ids},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    location.reload(true);//refresh na página
                    {#          		$('.form_id').html(data);#}
                    $('div').removeClass("modal-backdrop fade in");
                },
                error: function (rs, e) {

                }
            });
        });
    });


</script>
